.jumbotron
  .container
    .row
      .col-md-7

        h1 Get a Mac Damnit!!!
        p
          | Still using a PC? Give us a call.
        p
          a.btn.btn-primary.btn-lg(href="#", role="button") Learn more &#187;
      .col-md-5
        img(src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fpngimg.com%2Fupload%2Fsmall%2Fcomputer_mouse_PNG7668.png&f=1", alt="Computer Mouse")

